*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background:url(optimus-prime-worst-things.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    position: fixed;
    top: -45px;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.logo img{
    position: relative;
    height: 25vh;
    width: 95%;
}
nav{
    position: relative;
    margin-left: 30pc;
}
nav a{
    color: rgba(25, 75, 183, 0.79);
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 65px;
    transition: 0.4s;
    animation: slideTop 5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
nav a:hover{
    color: rgba(238, 50, 50, 0.503);
    
    border-radius: 5px;
    
}
.search{
    color: white;
    font-size: 25px;
    left: 34px;
    position: relative;
    transition: 0.3s ease-in;
}
.search:hover{
    color: red;
}
.text{
    position: relative;
    top: 15pc;
    width: 31pc;
    margin-left: 4pc;
}
.text h1{
    font-size: 45px;
    margin: 2pc;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(243, 238, 238, 0.577);
}
.text h3{
    
    margin: 2pc;
}
.btn{
    position: relative;
    display: inline-block;
    padding: 12px 28px;
    background:transparent;
    border-radius: 40px;
    font-size: 16px;
    transition: 0.3s ease;
    color: rgba(243, 238, 238, 0.577);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    left: 6pc;
    top: 1pc;
}
.btn:hover{
    color: white;
    transform: scale(1.3) translateY(-5px);
    background:transparent;
    box-shadow: 0 0 25px rgba(243, 238, 238, 0.577);
}